<style>


/* 
  Day: #2D4366
  Night: #4ecdc4 
*/

:root {
  --quote-border-color: #2D4366;
}


:root .dark{
  --quote-border-color: #4ecdc4;
}

.quote-block {
  position: relative;
  padding: 3em;
  max-width: 736px;
  min-width: 280px;
  margin: 0 auto;
  margin-top: 0em;
  margin-bottom: 3em;
  font-family: Georgia, serif;
  font-size: 1.2em;
  line-height: 1.6;
  border: 1px solid transparent;
}

.quote-block::before,
.quote-block::after {
  position: absolute;
  width: 40px;
  height: 30px;
  border: 8px solid;
  border-color: var(--quote-border-color);
}

.quote-block::before {
  content: "";
  top: 2em;
  left: 1em;
  border-right: none;
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .quote-block::before {
    top: 1em;
  }
}

.quote-block::after {
  content: "";
  bottom: 2em;
  right: 1em;
  border-left: none;
  border-top: none;
}

/* .marker-highlight {
  background: linear-gradient(120deg, rgba(232, 232, 232, 0.94), rgba(245, 249, 250, 0.3));
  padding: 0.1em 0.2em;
  border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  .marker-highlight {
    background: linear-gradient(120deg, rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0.3));
  }
} */


/* .char-animation {
    --index: 0;
    --total: 10;
    --duration: 1s;
    
    animation-delay: calc(
        sin((var(--index) / var(--total)) * 90deg) *
        var(--duration)
    );
} */


/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .quote-block {
    padding: 2em;
    margin-bottom: 2em;
    font-size: 1.1em;
  }

  .quote-block::before,
  .quote-block::after {
    width: 15px;
    height: 15px;
    border-width: 4px;
  }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
  .quote-block {
    padding: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1em;
  }

  .quote-block::before,
  .quote-block::after {
    width: 12px;
    height: 12px;
    border-width: 3px;
  }
}

</style>

<div>
    <div class="quote-block">
        {{ .Inner }}
    </div>
</div>